#top-cloud{
    position: relative;
    top: 15px;
    left: 300px;
}

#bottom-cloud{
    position: absolute;
    left: 250px;
}
hr{
    border-style: dotted none none none;
    border-width: 10px;
    width: 6%;
    margin: 100px auto 100px auto;
    border-color: grey;
    opacity: 0.5;
}

h1{
    position: relative;
    font-size: 500%;
    margin-top: 30px;
    margin-bottom: 2px;
}
h2, h3{
    color: #11999E;
    font-weight: bolder;
}
h3{
    font-weight: bolder;
}
body{
    margin: 0px;
    text-align: center;
}

.top_cont{
    background-color: #7FBCD2;
    padding-top: 162px;
    padding-bottom: 0px;
    font-family: 'Handlee', cursive;
    color: #A5F1E9;
}

.profile{
    font-family: 'Montserrat', sans-serif;
}

div.skills{
    font-family: 'Merriweather', serif;
    text-align: left;
    width: 80%;
    margin-left: 9em;
}
div.skill-row{
    margin: auto 20% auto 20%;
    line-height: 2;
}
h3{
    margin-left: 5px;
}

img.logo{
    border-radius: 100%;
    width: 25%;
    padding: 0 1rem 0 0;
    float: left;
}
img.skill2{
    border-radius: 100%;
    width: 25%;
    padding-left: 0 0 0 1rem;
    float: right;
    margin-right: 30px;
}

div.btn{
    background-color: red;
}

.footer-link{
    margin: 0 1.5em 0 1.5em;
    background-color: #7FBCD2;
    color: #A5F1E9;
    text-decoration: none;

}

.bottom_cont{
    background-color: #7FBCD2;
    color: white;
    font-size: 1.3rem;
    margin: 60px 0 0 0;
    padding: 30px 0 30px 0;
    text-align: center;
    line-height: 2;
}
a:hover{
    color: gold;
}
a:link.btn{
    text-decoration: none;
    border: 1px solid white;
    background-color: #7FBCD2;
    color: white;
    font-family: cursive;
    padding: 20px;
    border-radius: 10%;
    font-size: 2em;
    margin-top: 20px;
}
